.box {
  border: 1px solid black;
  background-color: #cae8e0;
  padding: 10px;
  text-align: center;
  width: 140px;
  height: 140px;
}

.text {
  margin: 10px 0;
  text-align: center;
  text-wrap: wrap;
  width: 100%;
}
